.resultContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  max-width: 600px;
  min-width: 250px;
}

.resultContainer > img {
  padding-right: 10px;
  flex-shrink: 0;
}

.resultContainer > p {
  margin: 0;
  padding: 0;
}
